body {
    background-image: url("../images/cloudy-day.png")
}
.jumbotron {
    background-color: #1da1f2;
    color: white;
    font-size: 300%;
}

h1 {
    color: white;
    font-size: 200%;
}

h2 {
    color: #1da1f2;
    font-size: 200%;
}

label {
    color: #1da1f2;
    font-size: 150%;
}

.cool-font {
    font-family: Shrikhand, cursive;
}

input, textarea, #submit {
    margin: 20px;
}

#submit,
.chirp {
    color: #1da1f2;
    background-color: white;
    border-color: #1da1f2;
    border-style: solid;
    border-width: 2px;
}
.chirp {
    border-radius: 5px;
    box-shadow: 5px 5px 5px #2f4f4f;
    padding: 5px;
    margin: 10px;
}
#submit:hover {
    color: white;
    background-color: #1da1f2;
    border-color: #1da1f2;
    border-style: solid;
    border-width: 2px;
}
#form,
#chirpContainer {
    background-color: white;
    border: 2px solid #1da1f2;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #2f4f4f;
    padding: 5px;
    margin: 10px 10px 20px 10px;
}
.form-control {
    width: 90%;
}
@media screen and (max-width: 420px) {
    h1 {
        font-size: 100%;
    }
}